<div class="jumbotron text-xs-center landing-header" alt="筑波大学へ">
</div>

<div class="col-lg-8 col-lg-offset-2 landing-header">
  <div class="text-center">
    <div class="control-group">
      <div class="text-center">
        <form action="course/search">
          <input type="text" class="form-control" name="keyword">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div>
</div>


