<div class="jumbotron text-xs-center landing-header" alt="筑波大学へ">
</div>

<div class="col-lg-8 col-lg-offset-2 landing-header">
  <div class="text-center">
		<div class="control-group">
			<form action="course/search">
				<div class="input-group">
					<input type="text" class="form-control" name="keyword" placeholder="title:数学 credits>=1 location:1E instructors:照井">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success">Search</button>
					</span>
				</div><!-- /input-group -->
			</form>

    </div>
  </div>
</div>
