<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="footer-col col-md-4">
        <h3>If you want watch inside</h3>
        <h4><a href='https://github.com/himkt/kirinoha' class="btn btn-info">GitHub</a></h4>
        <p>Feel free to contact me if you have a question !</p>
        <p>Please @ tweet to <a href='https://twitter.com/himkt'>me</a></p>
      </div>
      <div class="footer-col col-md-4">
        <h3>What is Kirinoha ?</h3>
        <h4><a href="http://himkt.hatenablog.com/entry/2016/04/07/135817" class="btn btn-info">Answer</a></h4>
        <p>Kirinoha is unofficial Course Search System.</p>
        <p>Maintained by <a href="https://twitter.com/himkt">himkt</a>.</p>
        <div class="col-lg-12">
          Copyright &copy; himkt 2015
        </div>
      </div>
      <div class="footer-col col-md-4">
        <h3>Logo</h3>
        <h4><a href="http://www.tsukuba.ac.jp/about/logomark.html" class="btn btn-info">Tsukuba</a></h4>
        <p>Logo image from University of Tsukuba</p>
      </div>
    </div>
  </div>
</footer>
